.footer {
  background-color: $clr-neutral-2;
  text-align: center;
  padding: 2.5rem;

  @include breakpoint-up(large) {
    padding: 2rem 10.3125rem;
  }

  .container {
    @include breakpoint-up(large) {
      display: grid;
      grid-template-columns: 2fr 2fr 3fr;
      grid-template-rows: 1fr;
      grid-template-areas: 'logo links social';
      // gap: 2rem;
    }
  }

  &__logo {
    display: inline-block;
    margin-bottom: 2.4375rem;

    @include breakpoint-up(large) {
      margin-bottom: 0rem;
      grid-area: logo;
    }
  }

  &__links {
    @include breakpoint-down(medium) {
      display: flex;
      flex-direction: column;
      margin-bottom: 3rem;
      align-items: center;
    }

    @include breakpoint-up(large) {
      display: flex;
      justify-content: space-between;
      grid-area: links;
      align-items: center;
    }

    a {
      font-size: 0.9375rem;
      text-transform: uppercase;
      letter-spacing: 0.108125rem;

      &:hover {
        color: $clr-hover;
      }
    }

    @include breakpoint-down(medium) {
      a:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }
  &__socials {
    @include breakpoint-up(large) {
      grid-area: social;
      justify-self: end;
    }
    a {
      display: inline-block;

      svg path {
        transition: fill 150ms ease-in-out;
      }
      &:hover svg path {
        fill: $clr-hover;
      }
    }
    a:not(:last-child) {
      margin-right: 2.3rem;
    }
  }
}
