@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

html {
  font-size: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.45;
  font-family: $ff-primary;
  font-size: $fz-global;
  font-weight: $fw-regular;
  overflow-x: hidden;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;

  &--py {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.page-padding {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.flex {
  display: flex;
  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}
