// Background color
$bg-primary-clr-1: hsl(231, 69%, 60%);
$bg-primary-clr-2: hsl(0, 94%, 66%);

// Text color
$clr-neutral-1: hsl(229, 8%, 60%);
$clr-neutral-2: hsl(229, 31%, 21%);
$clr-hover: hsl(0, 94%, 66%);

// Typography
$ff-primary: 'Rubik', sans-serif;

// Font size
$fz-global: 1.125rem;

// Font weight
$fw-regular: 400;
$fw-medium: 500;
